body {
    font-family: Google Sans, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 468px) and (max-width: 1024px) {
    .page-start {
        display: flex;

    }
}

@media screen and (min-width: 320px) and (max-width: 468px) {
    .page-title {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}